@page
@{
  var returnUrl = Request.Query["path"].FirstOrDefault();
}
<p style="text-align: center">
  This secure site is for staff to contribute articles to the newsletter. Please sign in using your organisational Microsoft account.
</p>
<p style="text-align: center">
  <a href="/auth/login/challenge@(string.IsNullOrEmpty(returnUrl) ? string.Empty : $"?path={returnUrl}")">Login</a>
</p>